extends ../_templates/layout

block title
	title Atlanta Property Tax Solutions

block contents
	main
		section
			.u-container.u-copy-col
				p 
					| For the 2018 tax year, Fulton County significantly increased property valuations for most homeowners. The assessments for our own homes 
					| 
					strong rose over 50%!
					| 
					| We thought that was questionable, to say the least, and we decided to do something about it.

				p Dave deployed his technology and data analytics skills to gather an immense database of Fulton County property tax information. He teamed up with Jan, who has over a decade of experience successfully arguing property tax appeals for her own properties. You can check out our credentials below.

				p Together, we offer you an innovative solution to ever rising, and often unfair, property tax assessments. Most people just compare their assessments to what they think the property is currently worth, and that's the logical first step. But another option is rarely mentioned by the tax assessor: fairness, or what's technically known as the Uniformity Rule. The property tax laws require that homeowners are assessed at comparable values to other properties, not just to an opinion of their market value. This often overlooked requirement can lead to a very successful reduction in your taxes.

				p Dave's passion for solving problems using AI and Data, combined with Jan's analytical skills and property experience gives you an edge up when considering the validity of your assessed value. Their system will analyze all aspects of your property, compare you with other's in your neighborhood and street, and clearly lay out what you need to say and do to get your valuation reduced. And that directly translates into lower property taxes.

				//- p
				//- 	| You can get a better idea of 
				//- 	a(href="/examples") what you'll get from us here. 


				p 
					strong Dave Seeley
					| 
					| heads product development, engineering and AI for Atlanta Property Tax Solutions.  Prior to founding Property Tax Solutions, he formed a retail focused consulting and analytics firm and was a VP at Macy's Systems and Technology Group for over 20 years.

				p 
					strong Jan Zavitz 
					| 
					| earned a Master's in Economics from Georgia State University with a focus in real estate.  She has managed her real estate portfolio for over 20 years, and successfully argued several property tax appeals.
