extends _templates/layout

block title
	title PTS Home

block contents
	main
		.hero
			.u-container
				.hero-copy
					h1 See a sharp rise in your property taxes?

					p Looking to reduce them but not sure where to start? We can help.

				.hero-graphic
					p Whatever punchy graphic here
		
		section
			.u-container
				p You've seen the mailers... 
				p Do you want to reduce...? 
				p Are you willing to...?


block scripts
	script(src="./assets/js/index.js")
		

		


		
