extends _templates/layout

block title
	title PTS Home

block contents
	main
		section.hero
			.u-container
				.hero-copy
					h1 See a sharp rise in your property taxes?

					p Looking to reduce them but not sure where to start? We can help.

				.hero-graphic
					p Whatever punchy graphic here
		
		section
			.u-container
				p 
					| You've seen the mailers from property tax consulting firms. These firms charge you up to  
					|
					strong 50% of your annual savings
					|
					| to represent you in a Board of Equalization (BOE) hearing.
				
				p Do you want to reduce your property taxes but prefer to avoid the hefty fee? Our process is better suited to those of you who want to save more money.

				p Are you willing to represent yourself at the five-minute BOE hearing? We'll prepare you for success at this meeting.

		section
			.u-container
				h2 We Can Help

				p We do the heavy lifting and provide you with what you need to succeed at your appeals appointment.
				
				p We customize the solution for your situation to maximize the probability of appealing your rate increase.


		section
			.u-container
				h2 How It Works:
				.u-container
					ol
						li We gather data specific to your property and close similar properties.
						li We analyze the data.
						li We create a report and presentation for you to use at the BOE hearing.
			
		section
			.u-container
				h2 Here's what you'll receive:

				p This short paragraph is about the report you'll receive.

				p Your customized appeal presentation contains:

				ul
					li All primary arguments needed to support your case.
					li Supporting data.
					li Easy-to-understand charts.
					li Photos and data for selected comparable properties.


		section
			.u-container
				h2 Ready for more?
				
				ul.col-3
					li
						p Read about our experts ready to help you out.
						a.button(href="#") View Profiles

					li
						p See an example property tax appeal report.
						a.button(href="#") View Report

					li
						p Get in touch to start the conversation.
						a.button(href="#") Contact Us


block scripts
	script(src="./assets/js/index.js")
		

		


		
