extends _templates/layout

block title
	title Atlanta Property Tax Solutions

block contents
	main
		section.hero
			.hero-container
				.hero-copy
					h1 See a sharp rise in your property taxes?

					p Looking to reduce them but not sure where to start? We can help.

				.hero-graphic
					//- img(src="/assets/img/2019-property-tax-increases-by-neighborhood-crop-grey.png" alt="Atlanta 2019 property tax increases by neighborhood")
					//- #hero-dynamic
					img(src="/assets/img/pts-chart.png" alt="2020 Property Tax Increases By Neighborhood")
					h5 2020 Property Tax Increases by Neighborhood
		
		section
			.u-container.u-copy-col
				p 
					| You've seen the mailers from property tax consulting firms. These firms charge you up to  
					|
					strong 50% of your annual savings
					|
					| for their services.
					//- | to represent you in a Board of Equalization (BOE) hearing.
				
				p 
					| Do you want to reduce your property taxes but prefer to avoid the hefty fee? 
					|
					strong Our process is better suited to those of you who want to save more money.

				//- p Are you willing to represent yourself at the five-minute BOE hearing? We'll prepare you for success at this meeting.
				p If you are willing to represent yourself at the five-minute BOE hearing, our process can work for you. We'll prepare you for success at this meeting.

		section.we-can-help
			.u-container.u-copy-col
				h2 We Can Help

				p We do the heavy lifting and provide you with what you need to succeed at your appeals appointment.
				
				p We customize the solution for your situation to maximize the probability of appealing your rate increase.


		section.how-it-works
			.u-container.u-copy-col
				h2 How It Works:
				.u-container
					ol
						li We gather data specific to your property and close similar properties.
						li We analyze the data.
						li We create a report and presentation for you to use at the BOE hearing.
			
		section.what-you-receive
			.u-container.u-copy-col
				h2 Here's what you'll receive:

				p This short paragraph is about the report you'll receive.

				p Your customized appeal presentation contains:

				ul
					li All primary arguments needed to support your case.
					li Supporting data.
					li Easy-to-understand charts.
					li Photos and data for selected comparable properties.

		section.ready-for-more
			.u-container.u-copy-col
				h2 Want to learn more?

				p 
					| Read about who we are 
					a(href="/about-us") on our about us page.

		//- section.ready-for-more
		//- 	.u-container
		//- 		h2 Ready for more?
				
		//- 		ul.col-3
		//- 			li
		//- 				p Read about our experts ready to help you out.
		//- 				a.button(href="/about-us") View Profiles

		//- 			li
		//- 				p See an example property tax appeal report.
		//- 				a.button(href="#") View Report

		//- 			li
		//- 				p Get in touch to start the conversation.
		//- 				a.button(href="#contactForm") Contact Us


block scripts
	script(src="/assets/js/index.js")
		

		


		
