doctype html
html(lang="en")
	block pageVars

	head
		block title
		meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
		meta(content="width=device-width" name="viewport")
		link(href='assets/css/main.css' rel='stylesheet' type='text/css')

	body

		header.header
			.nav-container.u-container
				.header-logo
					a(href="./") Property Tax Solutions
				nav.header-nav
					a(href="./") Home
					a(href="./about") About Us
					a(href="./examples") Examples

		block contents

		include ../_includes/form.pug

		footer.footer
			.footer-container.u-container
				nav.footer-nav
					a(href="./") Home
					a(href="./about") About Us
					a(href="./examples") Examples
					a(href="./terms") Terms and Conditions
					a(href="./privacy") Privacy Policy

				.footer-copy
					p &copy; 2020 Property Tax Solutions

		block scripts
		