extends ../_templates/layout

block title
	title Atlanta Property Tax Solutions | Terms and Conditions

block contents
	main
		section
			.u-container.u-copy-col

				h1 Terms and Conditions for atlantapropertytax.com
