extends ../_templates/layout

block title
	title Atlanta Property Tax Solutions | Privacy Policy

block contents
	main
		section
			.u-container.u-copy-col
				h1 Privacy Policy for atlantapropertytax.com
