extends ../_templates/layout

block title
	title Atlanta Property Tax Solutions | Example Report and Presentation

block contents
	main
		section
			.u-container.u-copy-col
				h1 Example Report and Presentation

				p The best way to successfully reduce your property taxes is to present a sound and logical basis that clearly explains why your property has been over valued in the assessment process. This takes preparation, diligence and the knowledge and time to pour over Fulton County property tax data. You could also hire an expensive property tax firm that wants about half of your tax savings. We offer a different approach. We do the analysis. We prepare a report that explains our findings. And, we provide you with a thorough and persuasive presentation to take to the Appeals Board.

				h2 Here's What You'll Get From Us:

				p 
					| Our 
					|
					strong Property Tax Analysis Report 
					|
					| provides a clear and compelling message detailing why and by how much your property is overvalued. That might not sound like a good idea at first blush, but remember that your tax assessment does not affect your market value at all. It is used only to calculate your taxes. And you want that to be as low as possible.

				p
					| Our confidential Report starts out by estimating how much of a reduction is reasonable, but it's not just a guess. We use our database and algorithms to analyze all of the properties in your neighborhood. We compare your property assessment to all others on your street. We also select a group of properties that are as similar as possible to your home. We then put all of this together to give you a persuasive argument to make at your Appeals Board hearing.

				p The Report clearly explains your next steps, how to use the Presentation that we provide, and how to prepare for possible counter arguments from the tax assessor or questions from the members of the Appeals Board.

				p Included in the Report is your five minute Presentation to the Board of Equalization. This Presentation coordinates with our Handout which you give to the Appeals Board. It provides you with the exact comments you should make for each of the slides in the Handout, which clearly describes your reasons for requesting a reduction in your assessed value. It will also provide all necessary data to back up your request, including pictures and all relevant data on the identified comparable properties.
