section
	margin: 1em 0
	padding: 1em 0
	border: 1px solid #ccc

.hero
	padding: 3em 0

.col-3
	list-style: none
	margin: 0
	padding: 0
	display: flex
	

	li
		margin: 0
		padding: 0 1em 0 0
		font-size: 0.9em

	.button
		display: block
		width: 80%

.button
	color: #fff
	padding: 0.5em 1em
	text-align: center
	border: none
	border-radius: 0.25em
	background-color: $link-color
	&:hover
		background-color: $link-color-hover
