$base-font-serif: Georgia, Times New Roman, serif
$base-font-sans-serif: Arial, Helvetica, sans-serif

$site-max-width: 46em
$site-copy-col-width: 33em

$bg-color: #fff
$text-color: #333
$link-color: #336699
$link-color-hover: darken($link-color, 0.5)

$header-bg-color: #686868
$header-link-color: #fff

$footer-bg-color: #444
$footer-link-color: #fff

$bp-small: 360px
$bp-medium: 768px
$bp-large: 1024px
